ul{
    list-style: none;
}

li{
    float:left; 
    padding-left: 20px;
    padding-right: 30px;
    padding-bottom: 50px;
}

.inputField{
    background-color: #282c34;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 12px 20px;
    color: white;
}

.inputField::placeholder{
    color: rgb(179, 179, 179);
}

/* Hide the Placeholder text when focused */
input:focus::-webkit-input-placeholder { 
    color: transparent; 
}

.inputField:hover{
    background-color: #282c34;
    border: 2px solid #42c3ff;
    box-shadow: 0 0 12px #8cd1ff;
    border-radius: 30px;
    padding: 12px 20px;
    color: rgb(78, 255, 187);
}

.inputField:focus{
    border-color: rgb(106, 109, 255);
    box-shadow: 0 0 12px #8cd1ff;
    border-radius: 30px;
    padding: 12px 20px;
    outline: none;
}

.gradButtonWrapper{
    padding: 4px;
}

.gradButtonContainer{
    padding: 4px;
}

.gradButton{
    background-color: #282c34;
    border: 2px solid #ffffff;
    color: #ffffff;
    padding: 8px 14px 8px 14px;
    text-align: center;
    font-family: 'Gruppo', cursive;
    display: inline-block;
    font-size: 16px;
    border-radius: 20px;
}

.gradButton:hover {
    border-color: rgb(73, 228, 255);
    box-shadow: 0 0 12px #baff8c;
    color: rgb(104, 151, 253);
}

.submitButton{
    display: inline-block;
    background-color: #282c34;
    border: 2px solid #ffffff;
    padding: 20px 16px 20px 16px;
    color: #ffffff;
    text-align: center;
    font-family: 'Gruppo', cursive;
    font-size: 24px;
    border-radius: 40px;
}

.submitButton:hover {
    border-color: rgb(150, 255, 173);
    box-shadow: 0 0 12px #b8d7ff;
    color: rgb(251, 251, 255);
}